<h1><%= @campaign.name %></h1>
<%= link_to 'Add Character', new_campaign_character_path(@campaign) %>

<h3>
  Characters
</h3>
<% @campaign.characters.each do |character| %>
  <p>
    <%= link_to character.name, campaign_character_path(@campaign, character) %>
  </p>
<% end %>

